img {
    width: 200px;
}

h1 {
    color: white;
    text-align: center;
    font-size: 50px;
}

p {
    color: white;
    text-align: center;
}

body {
    background-color: coral;
}

.dog-name {
    color: white;
    font-size: 20px;
    font-family: 'Times New Roman';
    margin-bottom: 0;
}

.dog-bio {
    color: white;
    font-size: 10px;
    margin-top: 0;
}

.dog-card {
    background-color: black;
    padding: 10px;
    border-radius: 30px;
    min-width: 250px;
    max-width: 250px;
    height: 300px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;

}

.card-container {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.button-container{
    padding: 10px;
    display: flex;
    gap: 20px;
    justify-content: center;

}