<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Puppy Love - Dog Dating</title>
</head>
<body>
    <h1>Welcome to Puppy Love!</h1>
    <p>Find your dog a date!</p>
    <p>Swipe right to like and left to pass.</p>


    <div class="card-container">
        <div class="dog-card" id="cosmo">
            <img src="{{ url_for('static', filename='images/img1.webp') }}" alt="Cosmo">
            <p class="dog-name">Cosmo</p>
            <p class="dog-bio">Loves to go for walks and chase squirreles.</p>
        </div>
        <div class="dog-card" id="roofus" style="display: none;">
            <img src="{{ url_for('static', filename='images/img2.webp') }}" alt="Roofus">
            <p class="dog-name">Roofus</p>
            <p class="dog-bio">Roofus loves peanut butter and chasing a tennis ball.</p>
        </div>
    </div>

    <div class="button-container">
        <button onclick="showNext()">Next Dog ➡️</button>

        <button onclick="showNext()">Yes <3</button>
        <button onclick="showNext()">No X</button>
    </div>

    <a href="/matches">My Matches</a>


    <script>
        let cards = document.getElementsByClassName("dog-card");
        let currentDog = 0;

        function showNext(){
            
            cards[currentDog].style.display = "none";
            currentDog = currentDog + 1;

            if (currentDog >= cards.length){
                currentDog = 0;
            }
            cards[currentDog].style.display = "block"
        }
    </script>
</body>
</html>

